/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #1abc9c;
  overflow: hidden;
}

::selection {
  background: rgba(26, 188, 156, 0.3);
}

.container {
  max-width: 600px;
  padding-left: 50px;
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 90px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input[type="text"],
.wrapper form .row input[type="password"] {
  height: 45px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
  color: #999;
}

.wrapper form .button input[type="submit"] {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

form .button input[type="submit"]:hover {
  background: #12876f;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: #16a085;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

/* Garbage Type Buttons */
.garbage-type-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.garbage-type-buttons button {
  width: 48%;
  padding: 10px;
  border: 1px solid #16a085;
  background: #fff;
  color: #16a085;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.garbage-type-buttons button.active {
  background: #16a085;
  color: #fff;
}

.garbage-type-buttons button:hover {
  background: #12876f;
  color: #fff;
}


/* File Upload Styling */
.file-upload-label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #16a085; /* Theme color */
}

.file-upload-label .upload-title {
  display: block;
  margin-bottom: 5px;
}
